<div class="doboard_task_widget-comment_wrapper">
    <div class="doboard_task_widget-avatar_container">
        <img src="{{commentAuthorAvatarSrc}}" title="{{commentAuthorName}}" alt="" class="doboard_task_widget-avatar">
    </div>
    <div class="doboard_task_widget-comment_container">
        <div class="doboard_task_widget-comment_date">{{commentDate}}</div>
        <div class="doboard_task_widget-comment_body">{{commentBody}}</div>
        <div class="doboard_task_widget-comment_time">{{commentTime}}</div>
    </div>
</div>

