<div class="doboard_task_widget-container">
    <div class="doboard_task_widget-header">
        <div style="display: flex;align-items: center;gap: 8px;">
            <img src="/spotfix/img/white-logo-doboard.svg"  alt="">
            <span title="Return to all issues list" class="doboard_task_widget_return_to_all doboard_task_widget_cursor-pointer"> All {{issuesCounter}}</span>
        </div>
        <div class="doboard_task_widget-issue-title">{{issueTitle}}</div>
        <img src="/spotfix/img/close.svg"  alt="" class="doboard_task_widget-close_btn doboard_task_widget_cursor-pointer">
    </div>
    <div class="doboard_task_widget-content doboard_task_widget-all_issues">
        <div class="doboard_task_widget-concrete_issues-container">LOADING...</div>
        <div class="doboard_task_widget-send_message">
            <form>
                <input type="text" class="doboard_task_widget-send_message_input" placeholder="Send a message">
                <input type="submit" class="doboard_task_widget-send_message_btn">
            </form>
        </div>
    </div>
</div>
