<div class="doboard_task_widget-header">
    <div style="display: flex;align-items: center;gap: 8px;">
        <img src="/spotfix/img/white-logo-doboard.svg"  alt="">
        <span>Report an issue</span>
    </div>
    <img src="/spotfix/img/close.svg"  alt="" class="doboard_task_widget-close_btn">
</div>
<div class="doboard_task_widget-container doboard_task_widget-create">
    <span>If you found issue with <span style="color: #000000;">{{currentDomain}}</span> page, you in right place. Please use his form to tell us about the issue you’re experiencing. </span>
    <input id="doboard_task_widget-title" class="doboard_task_widget-field" name="title" placeholder="Title...*">
    <textarea id="doboard_task_widget-description" class="doboard_task_widget-field doboard_task_widget-description-textarea" name="description" placeholder="Description...*">{{selectedText}}</textarea>
    <button id="doboard_task_widget-submit_button" class="doboard_task_widget-submit_button">Submit</button>
</div>