<div class="doboard_task_widget-container doboard_task_widget-create">
    <div class="doboard_task_widget-close_btn">X</div>
    <h2>Doboard</h2>
    <input id="doboard_task_widget-title" class="doboard_task_widget-title-input" name="title" placeholder="Title...">
    <textarea id="doboard_task_widget-description" class="doboard_task_widget-description-textarea" name="description" placeholder="Task description...">{{selectedText}}</textarea>
    <button id="doboard_task_widget-submit_button" class="doboard_task_widget-submit_button">Create Task</button>
</div>