<div class="doboard_task_widget-task_row issue-item" data-node-path='[{{nodePath}}]'>
    <div class="doboard_task_widget-avatar_container">
        <img src="{{avatarImg}}" alt="" class="doboard_task_widget-avatar">
    </div>
    <div class="doboard_task_widget-description_container">
        <div class="doboard_task_widget-task_title">
            <span class="doboard_task_widget-task-text_bold"></span>
            <span>{{taskTitle}}</span>
        </div>
        <div class="doboard_task_widget-task_description">
            <span class="doboard_task_widget-task-text_bold"></span>
            <span>{{taskDescription}}</span>
        </div>
    </div>
</div>